body{
background-color:red;
}
img{
height: 20vh;
}

/*problem 4: 10 points each
Set the text color in evil genius to red and the background color to black
and in robot set the text color to black with the background color to red
*/
.halfscreen{
height:50vh;
}

.evilSide{
height:50vh;

}

.robotSide{
height:50vh;

}


